<section class="section-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="integration-image">
          <img src="/assets/images/integration.png" alt="Integration" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="int-desc">
          <h3>Designed & built by the latest code integration</h3>
          <p>
            The rise of mobile devices transforms the way we consume information
            entirely and world's most elevant channels such as facebook
          </p>
          <a href="#" class="btn btn-primary btn-custom">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>
