<footer>
  <div class="logo">
    <img src="/assets/images/applab.png" alt="Footer Logo" />
  </div>
  <div class="links">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link px-2">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">Key Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">Pricing</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">Testiminial</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">FAQ</a>
      </li>
    </ul>
  </div>
  <div class="social-logos">
    <img src="/assets/images/social-logo.png" alt="Social Logo" />
  </div>
  <p class="copyright">
    Copyright&copy; Arifur Rahman Tushar 2019. All rights reserved
  </p>
</footer>
