.section-3 {
  padding-top: 100px;
  h3 {
    font-size: 40px;
    font-weight: bold;
    color: #242f51;
  }
  p {
    padding-top: 10px;
  }
  .features-single {
    width: 90%;
    padding-top: 50px;
    img {
      width: 80px;
      height: 80px;
      margin-top: 20px;
    }
    .features-desc {
      padding-left: 30px;
      h4 {
        font-size: 24px;
        font-weight: bold;
      }
      p {
        padding-top: unset;
      }
    }
    .fast-performance {
      padding-top: 20px;
      img {
        background-color: #ffecef;
        padding: 15px;
        border-radius: 35px;
      }
      h4 {
        color: #f55767;
      }
    }
    .prototyping {
      padding-top: 40px;
      img {
        background-color: #f4f4ff;
        padding: 15px;
        border-radius: 35px;
      }
      h4 {
        color: #2563ff;
      }
    }
    .vector-editing {
      padding-top: 40px;
      img {
        background-color: #e4ffee;
        padding: 15px;
        border-radius: 35px;
      }
      h4 {
        color: #6fb187;
      }
    }
  }
}
