<section class="section-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="features-phone">
          <img src="/assets/images/phone_slant.png" alt="Phone Slant" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-8">
            <h3>Awesome apps features</h3>
            <p>
              Increase productivity with a simple to-do app. app for managing
              your personal budgets
            </p>
            <div class="features-single">
              <div class="fast-performance">
                <div class="d-flex">
                  <img
                    src="/assets/images/fast_performance.png"
                    alt="Fast Performance"
                  />
                  <div class="features-desc">
                    <h4>Fast Performance</h4>
                    <p>
                      Get your blood tests delivered at home collect a sample
                      from the news your blood tests
                    </p>
                  </div>
                </div>
              </div>
              <div class="prototyping">
                <div class="d-flex">
                  <img src="/assets/images/prototyping.png" alt="Prototyping" />
                  <div class="features-desc">
                    <h4>Prototyping</h4>
                    <p>
                      Get your blood tests delivered at home collect a sample
                      from the news your blood tests
                    </p>
                  </div>
                </div>
              </div>
              <div class="vector-editing">
                <div class="d-flex">
                  <img src="/assets/images/vector_editing.png" alt="Vector Editing" />
                  <div class="features-desc">
                    <h4>Vector Editing</h4>
                    <p>
                      Get your blood tests delivered at home collect a sample
                      from the news your blood tests
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
