<section class="section-4">
  <div class="container">
    <div class="jackpots">
      <div class="row">
        <div class="col-md-6 vertical-line">
          <h3>Smart jackpots that you may love this anytime & anywhere</h3>
        </div>
        <div class="col-md-6">
          <p>
            The rise of mobile devices transforms the way we consume information
            entirely and world's most elevant channels such as facebook
          </p>
        </div>
      </div>
    </div>
    <div class="jackpot-sections">
      <div class="row">
        <div class="col-md-4">
          <div class="automatic-payouts">
            <img src="/assets/images/bill.png" alt="Automatic Payments" />
            <div class="features-desc">
              <h4>Automatic Payments</h4>
              <p>
                Get your blood tests delivered at home collect a sample from the
                news your blood tests
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="network-effect">
            <img src="/assets/images/networks.png" alt="Network Effects" />
            <div class="features-desc">
              <h4>Network Effects</h4>
              <p>
                Get your blood tests delivered at home collect a sample from the
                news your blood tests
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bigger-rewards">
            <img
              src="/assets/images/bigger_rewards.png"
              alt="Bigger Rewards Method"
            />
            <div class="features-desc">
              <h4>Bigger Rewards Method</h4>
              <p>
                Get your blood tests delivered at home collect a sample from the
                news your blood tests
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
