header {
  .navbar {
    padding-top: 50px;
    // font-weight: 600;
    .navbar-nav {
      .nav-item {
        padding-left: 15px;
        padding-right: 15px;
        .nav-link {
          color: #242f51;
          font-size: 16px;
          line-height: 44px;
        }
      }
    }
  }
}