<section class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="editors-choice">
          <div class="img-wrapper">
            <img src="/assets/images/tick.png" alt="tick" />
            <span>#1 Editiors Choice App of 2020</span>
          </div>
        </div>
        <h2 class="section1-title">Best app for your modern lifestyle</h2>
        <p class="section1-subtitle">
          Increase productivity with a simple to-do app. app for <br />
          managing your personal budgets
        </p>
        <div class="section1-buttons">
          <a href="#" class="btn btn-primary btn-custom">Try for free</a>
          <a href="#" class="btn btn-primary-outline btn-custom-outline"
            >Watch demo video</a
          >
        </div>
      </div>
      <div class="col-md-5">
        <div class="img-banner">
          <img src="/assets/images/phone.png" alt="Phone" />
        </div>
      </div>
    </div>
  </div>
</section>
