.section-1 {
  .col-md-7 {
    padding-left: 5%;
    .editors-choice {
      padding-top: 30%;
      .img-wrapper {
        background-color: #e2eaed;
        border-radius: 25px;
        width: 50%;
        img {
          padding: 5px;
          border-radius: 25px;
          background-color: #feaa25;
        }
        span {
          color: #242f51;
          padding-left: 10px;
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
    h2 {
      font-size: 64px;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #242f51;
    }
    p {
      color: #616368;
      font-size: 18px;
      line-height: 28px;
    }
    .section1-buttons {
      padding-top: 20px;
    }
  }
}
