<section class="section-6">
  <div class="container">
    <h3 class="testimonial-heading">Why you should choose our app</h3>
    <p class="testimonial-subheading">
      The rise of mobile devices transforms the way we consume information
      entirely and world's most elevant channels such as facebook
    </p>
    <div class="testimonials-grid">
      <div class="row">
        <div class="col-md-4">
          <div class="app-development">
            <img src="/assets/images/web-design.png" alt="App Development" />
            <div class="testimonial-desc">
              <h4>App Development</h4>
              <p>
                Get your blood tests delivered at home collect a sample from the
                news your blood tests
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ten-times-award">
            <img src="/assets/images/trophy.png" alt="10 Times Award" />
            <div class="testimonial-desc">
              <h4>10 Times Award</h4>
              <p>
                Get your blood tests delivered at home collect a sample from the
                news your blood tests
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cloud-storage">
            <img src="/assets/images/computer.png" alt="Cloud Storage" />
            <div class="testimonial-desc">
              <h4>Cloud Storage</h4>
              <p>
                Get your blood tests delivered at home collect a sample from the
                news your blood tests
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="customization">
            <img src="/assets/images/customer-support.png" alt="Customization" />
            <div class="testimonial-desc">
              <h4>Customization</h4>
              <p>
                Get your blood tests delivered at home collect a sample from the
                news your blood tests
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ux-planning">
            <img src="/assets/images/ui.png" alt="UX Planning" />
            <div class="testimonial-desc">
              <h4>UX Planning</h4>
              <p>
                Get your blood tests delivered at home collect a sample from the
                news your blood tests
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="customer-support">
            <img src="/assets/images/customer-service.png" alt="Customer Support" />
            <div class="testimonial-desc">
              <h4>Customer Support</h4>
              <p>
                Get your blood tests delivered at home collect a sample from the
                news your blood tests
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
