.section-6 {
  padding-top: 200px;
  text-align: center;
  h3 {
    color: #242f51;
    font-size: 32px;
  }
  .testimonials-grid {
    padding-top: 40px;
    img {
      width: 80px;
      height: 80px;
    }
    h4 {
      padding-top: 20px;
      color: #5a627c;
    }
    p {
      padding-top: 10px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 20px;
    }
  }
  .app-development {
    img {
      background-color: #ffecef;
      padding: 15px;
      border-radius: 35px;
    }
  }
  .ten-times-award {
    img {
      background-color: #eaf9ff;
      padding: 15px;
      border-radius: 35px;
    }
  }
  .cloud-storage {
    img {
      background-color: #fff6d3;
      padding: 15px;
      border-radius: 35px;
    }
  }
  .customization {
    img {
      background-color: #e4ffee;
      padding: 15px;
      border-radius: 35px;
    }
  }
  .ux-planning {
    img {
      background-color: #f4f4ff;
      padding: 15px;
      border-radius: 35px;
    }
  }
  .customer-support {
    img {
      background-color: #fdeee4;
      padding: 15px;
      border-radius: 35px;
    }
  }
}
